{% extends "@BirkTwig/home.html.twig" %}

{% block content %}
    <h1>
        All the dumb Posts
    </h1>
    {% for p in post %}

        <div class="element">
            <h3>{{ p.title }}</h3>
            <img src="{{ p.photo }}">
            <p>{{ p.description }}</p>
            <p>{{ p.date|date("d/m/Y") }}</p>
            <a href="{{ path('birk_my_post_postone')~'/'~p.id}}">++++++ en savoir plus ++++++</a>
        </div>
    {% endfor %}

{% endblock %}