{% extends "@BirkTwig/home.html.twig" %}

{% block content %}
        <h1>
            Stupid Post
        </h1>
        <div class="element solo">
            <h2>{{ post.title }}</h2>
            <img src="{{ post.photo }}">
            <p>{{ post.description }}</p>
            <p>{{ post.date|date("d/m/Y") }}</p>
            <a href="{{ path('birk_my_user_userone')~'/'~post.user.id}}">{{ post.user.name }}</a>
        </div>

{% endblock %}